.marvel-device{
	display: inline-block;
	position: relative;
	box-sizing: content-box !important;

	.screen {
		width: 100%;
		position: relative;
		height: 100%;
		z-index: 3;
		background: white;
		overflow: hidden;
		display: block;
		border-radius: 1em;
		box-shadow: 0 0 0 3em #111;
	}

	.top-bar, .bottom-bar {
		height: 3em;
		background: black;
		width: 100%;
		display: block;
	}

	.middle-bar {
		width: 3em;
		height: 4em;
		top: 0em;
		left: 90em;
		background: black;
		position: absolute;
	}

	&.iphone8{
		width: 375em;
		height: 667em;
		padding: 105em 24em;
		background: #d9dbdc;
		border-radius: 56em;
		box-shadow:inset 0 0 3em 0 rgba(0, 0, 0, 0.2);

		&:before{
			width: calc(100% - 12em);
			height: calc(100% - 12em);
			position: absolute;
			top: 6em;
			content: '';
			left: 6em;
			border-radius: 50em;
			background: #f8f8f8;
			z-index: 1;
		}

		&:after{
			width: calc(100% - 16em);
			height: calc(100% - 16em);
			position: absolute;
			top: 8em;
			content: '';
			left: 8em;
			border-radius: 48em;
			box-shadow:inset 0 0 3em 0 rgba(0, 0, 0, 0.1),
			inset 0 0 6em 3em #FFFFFF;
			z-index: 2;
		}

		.home {
			border-radius: 100%;
			width: 68em;
			height: 68em;
			position: absolute;
			left: 50%;
			margin-left: -34em;
			bottom: 22em;
			z-index: 3;
			background: rgb(48,50,51);
			background: linear-gradient(135deg, rgba(48,50,51,1) 0%,rgba(181,183,185,1) 50%,rgba(240,242,242,1) 69%,rgba(48,50,51,1) 100%);

			&:before{
				background: #f8f8f8;
				position: absolute;
				content: '';
				border-radius: 100%;
				width: calc(100% - 8em);
				height: calc(100% - 8em);
				top: 4em;
				left: 4em;
			}
		}

		.top-bar{
			height: 14em;
			background: #bfbfc0;
			position: absolute;
			top: 68em;
			left: 0;
		}

		.bottom-bar{
			height: 14em;
			background: #bfbfc0;
			position: absolute;
			bottom: 68em;
			left: 0;
		}

		.sleep{
			position: absolute;
			top: 190em;
			right: -4em;
			width: 4em;
			height: 66em;
			border-radius: 0em 2em 2em 0em;
			background: #d9dbdc;
		}

		.volume{
			position: absolute;
			left: -4em;
			top: 188em;
			z-index: 0;
			height: 66em;
			width: 4em;
			border-radius: 2em 0em 0em 2em;
			background: #d9dbdc;

			&:before {
				position: absolute;
				left: 2em;
				top: -78em;
				height: 40em;
				width: 2em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				top: 82em;
				height: 66em;
				width: 4em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 12em;
			height: 12em;
			position: absolute;
			top: 24em;
			left: 50%;
			margin-left: -6em;
			border-radius: 100%;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 16em;
			height: 16em;
			position: absolute;
			top: 49em;
			left: 134em;
			z-index: 3;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 70em;
			height: 6em;
			position: absolute;
			top: 54em;
			left: 50%;
			margin-left: -35em;
			border-radius: 6em;
			z-index: 3;
		}

		&.gold{
			background: #f9e7d3;

			.top-bar, .bottom-bar{
				background: white;
			}

			.sleep, .volume{
				background: #f9e7d3;
			}

			.home{
				background: rgb(206,187,169);
				background: linear-gradient(135deg, rgba(206,187,169,1) 0%,rgba(249,231,211,1) 50%,rgba(206,187,169,1) 100%);
			}
		}

		&.black{
			background: #464646;
			box-shadow: inset 0 0 3em 0 rgba(0, 0, 0, 0.7);

			&:before{
				background: #080808;
			}

			&:after{
				box-shadow:
					inset 0 0 3em 0 rgba(0, 0, 0, 0.1),
					inset 0 0 6em 3em #212121;
			}

			.top-bar, .bottom-bar{
				background: #212121;
			}

			.volume, .sleep{
				background: #464646;
			}

			.camera{
				background: #080808;
			}

			.home{
				background: rgb(8,8,8);
				background: linear-gradient(135deg, rgba(8,8,8,1) 0%,rgba(70,70,70,1) 50%,rgba(8,8,8,1) 100%);

				&:before{
					background: #080808;
				}
			}

		}

		&.landscape{
			padding: 24em 105em;
			height: 375em;
			width: 667em;

			.sleep{
				top: 100%;
				border-radius: 0em 0em 2em 2em;
				right: 190em;
				height: 4em;
				width: 66em;
			}

			.volume {
				width: 66em;
				height: 4em;
				top: -4em;
				left: calc(100% - 188em - 66em);
				border-radius: 2em 2em 0em 0em;

				&:before {
					width: 40em;
					height: 2em;
					top: 2em;
					right: -78em;
					left: auto;
					border-radius: 2em 2em 0em 0em;
				}

				&:after{
					left: -82em;
					width: 66em;
					height: 4em;
					top: 0;
					border-radius: 2em 2em 0em 0em;
				}
			}

			.top-bar{
				width: 14em;
				height: 100%;
				left: calc(100% - 68em -  14em);
				top: 0;
			}

			.bottom-bar{
				width: 14em;
				height: 100%;
				left: 68em;
				top: 0;
			}

			.home{
				top: 50%;
				margin-top: -34em;
				margin-left: 0;
				left: 22em;
			}

			.sensor {
				top: 134em;
				left: calc(100% - 49em - 16em);
			}

			.speaker {
				height: 70em;
				width: 6em;
				left: calc(100% - 54em - 6em);
				top: 50%;
				margin-left: 0em;
				margin-top: -35em;
			}

			.camera {
				left: calc(100% - 32em);
				top: 50%;
				margin-left: 0em;
				margin-top: -5em;
			}
		}
	}

	&.iphone8plus{
		width: 414em;
		height: 736em;
		padding: 112em 26em;
		background: #d9dbdc;
		border-radius: 56em;
		box-shadow:inset 0 0 3em 0 rgba(0, 0, 0, 0.2);

		&:before{
			width: calc(100% - 12em);
			height: calc(100% - 12em);
			position: absolute;
			top: 6em;
			content: '';
			left: 6em;
			border-radius: 50em;
			background: #f8f8f8;
			z-index: 1;
		}

		&:after{
			width: calc(100% - 16em);
			height: calc(100% - 16em);
			position: absolute;
			top: 8em;
			content: '';
			left: 8em;
			border-radius: 48em;
			box-shadow: inset 0 0 3em 0 rgba(0, 0, 0, 0.1),
				inset 0 0 6em 3em #FFFFFF;
			z-index: 2;
		}

		.home {
			border-radius: 100%;
			width: 68em;
			height: 68em;
			position: absolute;
			left: 50%;
			margin-left: -34em;
			bottom: 24em;
			z-index: 3;
			background: rgb(48,50,51);
			background: linear-gradient(135deg, rgba(48,50,51,1) 0%,rgba(181,183,185,1) 50%,rgba(240,242,242,1) 69%,rgba(48,50,51,1) 100%);

			&:before{
				background: #f8f8f8;
				position: absolute;
				content: '';
				border-radius: 100%;
				width: calc(100% - 8em);
				height: calc(100% - 8em);
				top: 4em;
				left: 4em;
			}
		}

		.top-bar{
			height: 14em;
			background: #bfbfc0;
			position: absolute;
			top: 68em;
			left: 0;
		}

		.bottom-bar{
			height: 14em;
			background: #bfbfc0;
			position: absolute;
			bottom: 68em;
			left: 0;
		}

		.sleep{
			position: absolute;
			top: 190em;
			right: -4em;
			width: 4em;
			height: 66em;
			border-radius: 0em 2em 2em 0em;
			background: #d9dbdc;
		}

		.volume{
			position: absolute;
			left: -4em;
			top: 188em;
			z-index: 0;
			height: 66em;
			width: 4em;
			border-radius: 2em 0em 0em 2em;
			background: #d9dbdc;

			&:before {
				position: absolute;
				left: 2em;
				top: -78em;
				height: 40em;
				width: 2em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				top: 82em;
				height: 66em;
				width: 4em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 12em;
			height: 12em;
			position: absolute;
			top: 29em;
			left: 50%;
			margin-left: -6em;
			border-radius: 100%;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 16em;
			height: 16em;
			position: absolute;
			top: 54em;
			left: 154em;
			z-index: 3;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 70em;
			height: 6em;
			position: absolute;
			top: 59em;
			left: 50%;
			margin-left: -35em;
			border-radius: 6em;
			z-index: 3;
		}

		&.gold{
			background: #f9e7d3;

			.top-bar, .bottom-bar{
				background: white;
			}

			.sleep, .volume{
				background: #f9e7d3;
			}

			.home{
				background: rgb(206,187,169);
				background: linear-gradient(135deg, rgba(206,187,169,1) 0%,rgba(249,231,211,1) 50%,rgba(206,187,169,1) 100%);
			}
		}

		&.black{
			background: #464646;
			box-shadow:inset 0 0 3em 0 rgba(0, 0, 0, 0.7);

			&:before{
				background: #080808;
			}

			&:after{
				box-shadow:
					inset 0 0 3em 0 rgba(0, 0, 0, 0.1),
					inset 0 0 6em 3em #212121;
			}

			.top-bar, .bottom-bar{
				background: #212121;
			}

			.volume, .sleep{
				background: #464646;
			}

			.camera{
				background: #080808;
			}

			.home{
				background: rgb(8,8,8);
				background: linear-gradient(135deg, rgba(8,8,8,1) 0%,rgba(70,70,70,1) 50%,rgba(8,8,8,1) 100%);

				&:before{
					background: #080808;
				}
			}

		}

		&.landscape{
			padding: 26em 112em;
			height: 414em;
			width: 736em;

			.sleep{
				top: 100%;
				border-radius: 0em 0em 2em 2em;
				right: 190em;
				height: 4em;
				width: 66em;
			}

			.volume {
				width: 66em;
				height: 4em;
				top: -4em;
				left: calc(100% - 188em - 66em);
				border-radius: 2em 2em 0em 0em;

				&:before {
					width: 40em;
					height: 2em;
					top: 2em;
					right: -78em;
					left: auto;
					border-radius: 2em 2em 0em 0em;
				}

				&:after{
					left: -82em;
					width: 66em;
					height: 4em;
					top: 0;
					border-radius: 2em 2em 0em 0em;
				}
			}

			.top-bar{
				width: 14em;
				height: 100%;
				left: calc(100% - 68em -  14em);
				top: 0;
			}

			.bottom-bar{
				width: 14em;
				height: 100%;
				left: 68em;
				top: 0;
			}

			.home{
				top: 50%;
				margin-top: -34em;
				margin-left: 0;
				left: 24em;
			}

			.sensor {
				top: 154em;
				left: calc(100% - 54em - 16em);
			}

			.speaker {
				height: 70em;
				width: 6em;
				left: calc(100% - 59em - 6em);
				top: 50%;
				margin-left: 0em;
				margin-top: -35em;
			}

			.camera {
				left: calc(100% - 29em);
				top: 50%;
				margin-left: 0em;
				margin-top: -5em;
			}
		}
	}

	&.iphone5s, &.iphone5c{
		padding: 105em 22em;
		background: #2c2b2c;
		width: 320em;
		height: 568em;
		border-radius: 50em;

		&:before{
			width: calc(100% - 8em);
			height: calc(100% - 8em);
			position: absolute;
			top: 4em;
			content: '';
			left: 4em;
			border-radius: 46em;
			background: #1e1e1e;
			z-index: 1;
		}

		.sleep{
			position: absolute;
			top: -4em;
			right: 60em;
			width: 60em;
			height: 4em;
			border-radius: 2em 2em 0em 0em;
			background: #282727;
		}

		.volume{
			position: absolute;
			left: -4em;
			top: 180em;
			z-index: 0;
			height: 27em;
			width: 4em;
			border-radius: 2em 0em 0em 2em;
			background: #282727;

			&:before {
				position: absolute;
				left: 0em;
				top: -75em;
				height: 35em;
				width: 4em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				bottom: -64em;
				height: 27em;
				width: 4em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 32em;
			left: 50%;
			margin-left: -5em;
			border-radius: 5em;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 60em;
			left: 160em;
			z-index: 3;
			margin-left: -32em;
			border-radius: 5em;
		}

		.speaker {
			background: #292728;
			width: 64em;
			height: 10em;
			position: absolute;
			top: 60em;
			left: 50%;
			margin-left: -32em;
			border-radius: 5em;
			z-index: 3;
		}

		&.landscape{
			padding: 22em 105em;
			height: 320em;
			width: 568em;

			.sleep{
				right: -4em;
				top: calc(100% - 120em);
				height: 60em;
				width: 4em;
				border-radius: 0em 2em 2em 0em;
			}

			.volume {
				width: 27em;
				height: 4em;
				top: -4em;
				left: calc(100% - 180em);
				border-radius: 2em 2em 0em 0em;

				&:before {
					width: 35em;
					height: 4em;
					top: 0em;
					right: -75em;
					left: auto;
					border-radius: 2em 2em 0em 0em;
				}

				&:after{
					bottom: 0em;
					left: -64em;
					z-index: 999;
					height: 4em;
					width: 27em;
					border-radius: 2em 2em 0em 0em;
				}
			}

			.sensor {
				top: 160em;
				left: calc(100% - 60em);
				margin-left: 0em;
				margin-top: -32em;
			}

			.speaker {
				height: 64em;
				width: 10em;
				left: calc(100% - 60em);
				top: 50%;
				margin-left: 0em;
				margin-top: -32em;
			}

			.camera {
				left: calc(100% - 32em);
				top: 50%;
				margin-left: 0em;
				margin-top: -5em;
			}
		}
	}

	&.iphone5s{
		.home {
			border-radius: 36em;
			width: 68em;
			box-shadow: inset 0 0 0 4em #2c2b2c;
			height: 68em;
			position: absolute;
			left: 50%;
			margin-left: -34em;
			bottom: 19em;
			z-index: 3;
		}

		.top-bar{
			top: 70em;
			position: absolute;
			left: 0;
		}

		.bottom-bar {
			bottom: 70em;
			position: absolute;
			left: 0;
		}

		&.landscape{
			.home {
				left: 19em;
				bottom: 50%;
				margin-bottom: -34em;
				margin-left: 0em;
			}

			.top-bar {
				left: 70em;
				top: 0em;
				width: 3em;
				height: 100%;
			}

			.bottom-bar {
				right: 70em;
				left: auto;
				bottom: 0em;
				width: 3em;
				height: 100%;
			}
		}

		&.silver{
			background: #bcbcbc;

			&:before{
				background: #fcfcfc;
			}

			.volume, .sleep{
				background: #d6d6d6;
			}

			.top-bar, .bottom-bar{
				background: #eaebec;
			}

			.home{
				box-shadow: inset 0 0 0 4em #bcbcbc;
			}
		}

		&.gold{
			background: #f9e7d3;

			&:before{
				background: #fcfcfc;
			}

			.volume, .sleep{
				background: #f9e7d3;
			}

			.top-bar, .bottom-bar{
				background: white;
			}

			.home{
				box-shadow: inset 0 0 0 4em #f9e7d3;
			}
		}
	}

	&.iphone5c{
		background: white;
		box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);

		.top-bar, .bottom-bar{
			display: none;
		}

		.home{
			background: #242324;
			border-radius: 36em;
			width: 68em;
			height: 68em;
			z-index: 3;
			position: absolute;
			left: 50%;
			margin-left: -34em;
			bottom: 19em;

			&:after{
				width: 20em;
				height: 20em;
				border: 1em solid rgba(255, 255, 255, 0.1);
				border-radius: 4em;
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -11em;
				margin-left: -11em;
			}
		}

		&.landscape{
			.home {
				left: 19em;
				bottom: 50%;
				margin-bottom: -34em;
				margin-left: 0em;
			}
		}

		.volume, .sleep{
			background: #dddddd;
		}

		&.red{
			background: #f96b6c;

			.volume, .sleep{
				background: #ed5758;
			}
		}

		&.yellow{
			background: #f2dc60;

			.volume, .sleep{
				background: #e5ce4c;
			}
		}

		&.green{
			background: #97e563;

			.volume, .sleep{
				background: #85d94d;
			}
		}

		&.blue{
			background: #33a2db;

			.volume, .sleep{
				background: #2694cd;
			}
		}
	}

	&.iphone4s{
		padding: 129em 27em;
		width: 320em;
		height: 480em;
		background: #686868;
		border-radius: 54em;

		&:before{
			content: '';
			width: calc(100% - 8em);
			height: calc(100% - 8em);
			position: absolute;
			top: 4em;
			left: 4em;
			z-index: 1;
			border-radius: 50em;
			background: #1e1e1e;
		}

		.top-bar {
			top: 60em;
			position: absolute;
			left: 0;
		}

		.bottom-bar {
			bottom: 90em;
			position: absolute;
			left: 0;
		}

		.camera {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 72em;
			left: 134em;
			z-index: 3;
			margin-left: -5em;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 64em;
			height: 10em;
			position: absolute;
			top: 72em;
			left: 50%;
			z-index: 3;
			margin-left: -32em;
			border-radius: 5em;
		}

		.sensor {
			background: #292728;
			width: 40em;
			height: 10em;
			position: absolute;
			top: 36em;
			left: 50%;
			z-index: 3;
			margin-left: -20em;
			border-radius: 5em;
		}

		.home {
			background: #242324;
			border-radius: 100%;
			width: 72em;
			height: 72em;
			z-index: 3;
			position: absolute;
			left: 50%;
			margin-left: -36em;
			bottom: 30em;

			&:after {
				width: 20em;
				height: 20em;
				border: 1em solid rgba(255, 255, 255, 0.1);
				border-radius: 4em;
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -11em;
				margin-left: -11em;
			}
		}

		.sleep {
			position: absolute;
			top: -4em;
			right: 60em;
			width: 60em;
			height: 4em;
			border-radius: 2em 2em 0em 0em;
			background: #4D4D4D;
		}

		.volume {
			position: absolute;
			left: -4em;
			top: 160em;
			height: 27em;
			width: 4em;
			border-radius: 2em 0em 0em 2em;
			background: #4D4D4D;

			&:before {
				position: absolute;
				left: 0em;
				top: -70em;
				height: 35em;
				width: 4em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				bottom: -64em;
				height: 27em;
				width: 4em;
				border-radius: 2em 0em 0em 2em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		&.landscape{
			padding: 27em 129em;
			height: 320em;
			width: 480em;

			.bottom-bar {
				left: 90em;
				bottom: 0em;
				height: 100%;
				width: 3em;
			}

			.top-bar {
				left: calc(100% - 60em);
				top: 0em;
				height: 100%;
				width: 3em;
			}

			.camera {
				top: 134em;
				left: calc(100% - 72em);
				margin-left: 0;
			}

			.speaker{
				top: 50%;
				margin-left: 0;
				margin-top: -32em;
				left: calc(100% - 72em);
				width: 10em;
				height: 64em;
			}

			.sensor {
				height: 40em;
				width: 10em;
				left: calc(100% - 36em);
				top: 50%;
				margin-left: 0;
				margin-top: -20em;
			}

			.home {
				left: 30em;
				bottom: 50%;
				margin-left: 0;
				margin-bottom: -36em;
			}

			.sleep {
				height: 60em;
				width: 4em;
				right: -4em;
				top: calc(100% - 120em);
				border-radius: 0em 2em 2em 0em;
			}

			.volume {
				top: -4em;
				left: calc(100% - 187em);
				height: 4em;
				width: 27em;
				border-radius: 2em 2em 0em 0em;

				&:before {
					right: -70em;
					left: auto;
					top: 0em;
					width: 35em;
					height: 4em;
					border-radius: 2em 2em 0em 0em;
				}

				&:after{
					width: 27em;
					height: 4em;
					bottom: 0em;
					left: -64em;
					border-radius: 2em 2em 0em 0em;
				}
			}
		}

		&.silver{
			background: #bcbcbc;

			&:before{
				background: #fcfcfc;
			}

			.home{
				background: #fcfcfc;
				box-shadow: inset 0 0 0 1em #bcbcbc;

				&:after{
					border: 1em solid rgba(0, 0, 0, 0.2);
				}
			}

			.volume, .sleep{
				background: #d6d6d6;
			}
		}
	}

	&.nexus5{
		padding: 50em 15em 50em 15em;
		width: 320em;
		height: 568em;
		background: #1e1e1e;
		border-radius: 20em;

		&:before{
			border-radius: 600em / 50em;
			background: inherit;
			content: '';
			top: 0;
			position: absolute;
			height: 103.1%;
			width: calc(100% - 26em);
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		.top-bar{
			width: calc(100% - 8em);
			height: calc(100% - 6em);
			position: absolute;
			top: 3em;
			left: 4em;
			border-radius: 20em;
			background: #181818;

			&:before {
				border-radius: 600em / 50em;
				background: inherit;
				content: '';
				top: 0;
				position: absolute;
				height: 103.0%;
				width: calc(100% - 26em);
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}

		.bottom-bar{
			display: none;
		}

		.sleep{
			width: 3em;
			position: absolute;
			left: -3em;
			top: 110em;
			height: 100em;
			background: inherit;
			border-radius: 2em 0em 0em 2em;
		}

		.volume{
			width: 3em;
			position: absolute;
			right: -3em;
			top: 70em;
			height: 45em;
			background: inherit;
			border-radius: 0em 2em 2em 0em;
		}

		.camera {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 18em;
			left: 50%;
			z-index: 3;
			margin-left: -5em;
			border-radius: 100%;

			&:before {
				background: #3c3d3d;
				width: 6em;
				height: 6em;
				content: '';
				display: block;
				position: absolute;
				top: 2em;
				left: -100em;
				z-index: 3;
				border-radius: 100%;
			}
		}

		&.landscape{
			padding: 15em 50em 15em 50em;
			height: 320em;
			width: 568em;

			&:before {
				width: 103.1%;
				height: calc(100% - 26em);
				border-radius: 50em / 600em;
			}

			.top-bar {
				left: 3em;
				top: 4em;
				height: calc(100% - 8em);
				width: calc(100% - 6em);

				&:before {
					width: 103%;
					height: calc(100% - 26em);
					border-radius: 50em / 600em;
				}
			}

			.sleep{
				height: 3em;
				width: 100em;
				left: calc(100% - 210em);
				top: -3em;
				border-radius: 2em 2em 0em 0em;
			}

			.volume{
				height: 3em;
				width: 45em;
				right: 70em;
				top: 100%;
				border-radius: 0em 0em 2em 2em;
			}

			.camera {
				top: 50%;
				left: calc(100% - 18em);
				margin-left: 0;
				margin-top: -5em;

				&:before {
					top: -100em;
					left: 2em;
				}
			}
		}
	}

	&.s5{
		padding: 60em 18em;
		border-radius: 42em;
		width: 320em;
		height: 568em;
		background: #bcbcbc;

		&:before, &:after{
			width: calc(100% - 52em);
			content: '';
			display: block;
			height: 26em;
			background: inherit;
			position: absolute;
			border-radius: 500em / 40em;
			left: 50%;
			transform: translateX(-50%);
		}

		&:before{
			top: -7em;
		}

		&:after{
			bottom: -7em;
		}

		.bottom-bar{
			display: none;
		}

		.top-bar{
			border-radius: 37em;
			width: calc(100% - 10em);
			height: calc(100% - 10em);
			top: 5em;
			left: 5em;
			background:
				radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 0 0,
				radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 3em 3em;
			background-color: white;
			background-size: 4em 4em;
			background-position: center;
			z-index: 2;
			position: absolute;

			&:before, &:after{
				width: calc(100% - 48em);
				content: '';
				display: block;
				height: 26em;
				background: inherit;
				position: absolute;
				border-radius: 500em / 40em;
				left: 50%;
				transform: translateX(-50%);
			}

			&:before{
				top: -7em;
			}

			&:after{
				bottom: -7em;
			}
		}

		.sleep{
			width: 3em;
			position: absolute;
			left: -3em;
			top: 100em;
			height: 100em;
			background: #cecece;
			border-radius: 2em 0em 0em 2em;
		}

		.speaker {
			width: 68em;
			height: 8em;
			position: absolute;
			top: 20em;
			display: block;
			z-index: 3;
			left: 50%;
			margin-left: -34em;
			background-color: #bcbcbc;
			background-position: top left;
			border-radius: 4em;
		}

		.sensor {
			display: block;
			position: absolute;
			top: 20em;
			right: 110em;
			background: #3c3d3d;
			border-radius: 100%;
			width: 8em;
			height: 8em;
			z-index: 3;

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0em;
				right: 12em;
				background: #3c3d3d;
				border-radius: 100%;
				width: 8em;
				height: 8em;
				z-index: 3;
			}
		}

		.camera {
			display: block;
			position: absolute;
			top: 24em;
			right: 42em;
			background: black;
			border-radius: 100%;
			width: 10em;
			height: 10em;
			z-index: 3;

			&:before{
				width: 4em;
				height: 4em;
				background: #3c3d3d;
				border-radius: 100%;
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -2em;
				margin-left: -2em;
			}
		}

		.home {
			position: absolute;
			z-index: 3;
			bottom: 17em;
			left: 50%;
			width: 70em;
			height: 20em;
			background: white;
			border-radius: 18em;
			display: block;
			margin-left: -35em;
			border: 2em solid black;
		}

		&.landscape{
			padding: 18em 60em;
			height: 320em;
			width: 568em;

			&:before, &:after{
				height: calc(100% - 52em);
				width: 26em;
				border-radius: 40em / 500em;
				transform: translateY(-50%);
			}

			&:before {
				top: 50%;
				left: -7em;
			}

			&:after {
				top: 50%;
				left: auto;
				right: -7em;
			}

			.top-bar{
				&:before, &:after{
					width: 26em;
					height: calc(100% - 48em);
					border-radius: 40em / 500em;
					transform: translateY(-50%);
				}

				&:before{
					right: -7em;
					top: 50%;
					left: auto;
				}

				&:after{
					left: -7em;
					top: 50%;
					right: auto;
				}
			}

			.sleep{
				height: 3em;
				width: 100em;
				left: calc(100% - 200em);
				top: -3em;
				border-radius: 2em 2em 0em 0em;
			}

			.speaker {
				height: 68em;
				width: 8em;
				left: calc(100% - 20em);
				top: 50%;
				margin-left: 0;
				margin-top: -34em;
			}

			.sensor {
				right: 20em;
				top: calc(100% - 110em);

				&:after{
					left: -12em;
					right: 0em;
				}
			}

			.camera {
				top: calc(100% - 42em);
				right: 24em;
			}

			.home {
				width: 20em;
				height: 70em;
				bottom: 50%;
				margin-bottom: -35em;
				margin-left: 0;
				left: 17em;
			}
		}

		&.black{
			background: #1e1e1e;

			.speaker{
				background: black;
			}

			.sleep{
				background: #1e1e1e;
			}

			.top-bar{
				background: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 0 0,
				radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 3em 3em;
				background-color: #2c2b2c;
				background-size: 4em 4em;
			}

			.home{
				background: #2c2b2c;
			}
		}
	}

	&.lumia920{
		padding: 80em 35em 125em 35em;
		background: #ffdd00;
		width: 320em;
		height: 533em;
		border-radius: 40em / 3em;

		.bottom-bar{
			display: none;
		}

		.top-bar{
			width: calc(100% - 24em);
			height: calc(100% - 32em);
			position: absolute;
			top: 16em;
			left: 12em;
			border-radius: 24em;
			background: black;
			z-index: 1;

			&:before{
				background: #1e1e1e;
				display: block;
				content: '';
				width: calc(100% - 4em);
				height: calc(100% - 4em);
				top: 2em;
				left: 2em;
				position: absolute;
				border-radius: 22em;
			}
		}

		.volume{
			width: 3em;
			position: absolute;
			top: 130em;
			height: 100em;
			background: #1e1e1e;
			right: -3em;
			border-radius: 0em 2em 2em 0em;

			&:before {
				width: 3em;
				position: absolute;
				top: 190em;
				content: '';
				display: block;
				height: 50em;
				background: inherit;
				right: 0em;
				border-radius: 0em 2em 2em 0em;
			}

			&:after {
				width: 3em;
				position: absolute;
				top: 460em;
				content: '';
				display: block;
				height: 50em;
				background: inherit;
				right: 0em;
				border-radius: 0em 2em 2em 0em;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 34em;
			right: 130em;
			z-index: 5;
			border-radius: 5em;
		}

		.speaker {
			background: #292728;
			width: 64em;
			height: 10em;
			position: absolute;
			top: 38em;
			left: 50%;
			margin-left: -32em;
			border-radius: 5em;
			z-index: 3;
		}

		&.landscape{
			padding: 35em 80em 35em 125em;
			height: 320em;
			width: 568em;
			border-radius: 2em / 100em;

			.top-bar{
				height: calc(100% - 24em);
				width: calc(100% - 32em);
				left: 16em;
				top: 12em;
			}

			.volume {
				height: 3em;
				right: 130em;
				width: 100em;
				top: 100%;
				border-radius: 0em 0em 2em 2em;

				&:before{
					height: 3em;
					right: 190em;
					top: 0em;
					width: 50em;
					border-radius: 0em 0em 2em 2em;
				}

				&:after{
					height: 3em;
					right: 430em;
					top: 0em;
					width: 50em;
					border-radius: 0em 0em 2em 2em;
				}
			}

			.camera {
				right: 30em;
				top: calc(100% - 140em);
			}

			.speaker {
				width: 10em;
				height: 64em;
				top: 50%;
				margin-left: 0;
				margin-top: -32em;
				left: calc(100% - 48em);
			}
		}

		&.black{
			background: black;
		}

		&.white{
			background: white;
			box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
		}

		&.blue{
			background: #00acdd;
		}

		&.red{
			background: #CC3E32;
		}
	}

	&.htc-one {
		padding: 72em 25em 100em 25em;
		width: 320em;
		height: 568em;
		background: #bebebe;
		border-radius: 34em;

		&:before{
			content: '';
			display: block;
			width: calc(100% - 4em);
			height: calc(100% - 4em);
			position: absolute;
			top: 2em;
			left: 2em;
			background: #adadad;
			border-radius: 32em;
		}

		&:after{
			content: '';
			display: block;
			width: calc(100% - 8em);
			height: calc(100% - 8em);
			position: absolute;
			top: 4em;
			left: 4em;
			background: #eeeeee;
			border-radius: 30em;
		}

		.top-bar{
			width: calc(100% - 4em);
			height: 635em;
			position: absolute;
			background: #424242;
			top: 50em;
			z-index: 1;
			left: 2em;

			&:before{
				content: '';
				position: absolute;
				width: calc(100% - 4em);
				height: 100%;
				position: absolute;
				background: black;
				top: 0em;
				z-index: 1;
				left: 2em;
			}
		}

		.bottom-bar{
			display: none;
		}

		.speaker {
			height: 16em;
			width: 216em;
			display: block;
			position: absolute;
			top: 22em;
			z-index: 2;
			left: 50%;
			margin-left: -108em;
			background: radial-gradient(#343434 25%, transparent 50%) 0 0,
			radial-gradient(#343434 25%, transparent 50%) 4em 4em;
			background-size: 4em 4em;
			background-position: top left;

			&:after {
				content: '';
				height: 16em;
				width: 216em;
				display: block;
				position: absolute;
				top: 676em;
				z-index: 2;
				left: 50%;
				margin-left: -108em;
				background: inherit;
			}
		}

		.camera {
			display: block;
			position: absolute;
			top: 18em;
			right: 38em;
			background: #3c3d3d;
			border-radius: 100%;
			width: 24em;
			height: 24em;
			z-index: 3;

			&:before {
				width: 8em;
				height: 8em;
				background: black;
				border-radius: 100%;
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -4em;
				margin-left: -4em;
			}
		}

		.sensor {
			display: block;
			position: absolute;
			top: 29em;
			left: 60em;
			background: #3c3d3d;
			border-radius: 100%;
			width: 8em;
			height: 8em;
			z-index: 3;

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0em;
				right: 12em;
				background: #3c3d3d;
				border-radius: 100%;
				width: 8em;
				height: 8em;
				z-index: 3;
			}
		}

		&.landscape{
			padding: 25em 72em 25em 100em;
			height: 320em;
			width: 568em;

			.top-bar{
				height: calc(100% - 4em);
				width: 635em;
				left: calc(100% - 685em);
				top: 2em;
			}

			.speaker {
				width: 16em;
				height: 216em;
				left: calc(100% - 38em);
				top: 50%;
				margin-left: 0em;
				margin-top: -108em;

				&:after {
					width: 16em;
					height: 216em;
					left: calc(100% - 692em);
					top: 50%;
					margin-left: 0;
					margin-top: -108em;
				}
			}

			.camera {
				right: 18em;
				top: calc(100% - 38em);
			}

			.sensor {
				left: calc(100% - 29em);
				top: 60em;

				:after {
					right: 0;
					top: -12em;
				}
			}
		}
	}

	&.ipad{
		width: 576em;
		height: 768em;
		padding: 90em 25em;
		background: #242324;
		border-radius: 44em;

		&:before{
			width: calc(100% - 8em);
			height: calc(100% - 8em);
			position: absolute;
			content: '';
			display: block;
			top: 4em;
			left: 4em;
			border-radius: 40em;
			background: #1e1e1e;
		}

		.camera {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 44em;
			left: 50%;
			margin-left: -5em;
			border-radius: 100%;
		}

		.top-bar, .bottom-bar{
			display: none;
		}

		.home {
			background: #242324;
			border-radius: 36em;
			width: 50em;
			height: 50em;
			position: absolute;
			left: 50%;
			margin-left: -25em;
			bottom: 22em;

			&:after {
				width: 15em;
				height: 15em;
				margin-top: -8em;
				margin-left: -8em;
				border: 1em solid rgba(255, 255, 255, 0.1);
				border-radius: 4em;
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
			}
		}

		&.landscape{
			height: 576em;
			width: 768em;
			padding: 25em 90em;

			.camera {
				left: calc(100% - 44em);
				top: 50%;
				margin-left: 0;
				margin-top: -5em;
			}

			.home {
				top: 50%;
				left: 22em;
				margin-left: 0;
				margin-top: -25em;
			}
		}

		&.silver{
			background: #bcbcbc;

			&:before{
				background: #fcfcfc;
			}

			.home{
				background: #fcfcfc;
				box-shadow: inset 0 0 0 1em #bcbcbc;

				&:after{
					border: 1em solid rgba(0, 0, 0, 0.2);
				}
			}
		}
	}

	&.macbook {
		width: 960em;
		height: 600em;
		padding: 44em 44em 76em;
		margin: 0 auto;
		background: #bebebe;
		border-radius: 34em;

		&:before {
			width: calc(100% - 8em);
			height: calc(100% - 8em);
			position: absolute;
			content: '';
			display: block;
			top: 4em;
			left: 4em;
			border-radius: 30em;
			background: #1e1e1e;
		}

		.top-bar {
			width: calc(100% + 2 * 70em);
			height: 40em;
			position: absolute;
			content: '';
			display: block;
			top: 680em;
			left: -70em;
			border-bottom-left-radius: 90em 18em;
			border-bottom-right-radius: 90em 18em;
			background: #bebebe;
			box-shadow: inset 0em -4em 13em 3em rgba(34, 34, 34, 0.6);

			&:before {
				width: 100%;
				height: 24em;
				content: '';
				display: block;
				top: 0;
				left: 0;
				background: #f0f0f0;
				border-bottom: 2em solid #aaa;
				border-radius: 5em;
				position: relative;
			}

			&:after {
				width: 16%;
				height: 14em;
				content: '';
				display: block;
				top: 0;
				background: #ddd;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				border-radius: 0 0 20em 20em;
				box-shadow: inset 0em -3em 10em #999;
			}
		}

		.bottom-bar {
			background: transparent;
			width: calc(100% + 2 * 70em);
			height: 26em;
			position: absolute;
			content: '';
			display: block;
			top: 680em;
			left: -70em;

			&:before,
			&:after {
				height: calc(100% - 2em);
				width: 80em;
				content: '';
				display: block;
				top: 0;

				position: absolute;
			}

			&:before {
				left: 0;
				background: #f0f0f0;
				background: linear-gradient(to right, #747474 0%, #c3c3c3 5%, #ebebeb 14%, #979797 41%, #f0f0f0 80%, #f0f0f0 100%, #f0f0f0 100%);
			}

			&:after {
				right: 0;
				background: #f0f0f0;
				background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 0%, #f0f0f0 20%, #979797 59%, #ebebeb 86%, #c3c3c3 95%, #747474 100%);
			}
		}

		.camera {
			background: #3c3d3d;
			width: 10em;
			height: 10em;
			position: absolute;
			top: 20em;
			left: 50%;
			margin-left: -5em;
			border-radius: 100%;
		}

		.home {
			display: none;
		}
	}

	&.iphone-x {
		width: 375em;
		height: 812em;
		padding: 26em;
		background: #fdfdfd;
		box-shadow:inset 0 0 11em 0 black;
		border-radius: 66em;

		.overflow {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 66em;
			overflow: hidden;
		}

		.shadow {
			border-radius: 100%;
			width: 90em;
			height: 90em;
			position: absolute;
			background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(255,255,255,0) 60%);
		}

		.shadow--tl {
			top: -20em;
			left: -20em;
		}

		.shadow--tr {
			top: -20em;
			right: -20em;
		}

		.shadow--bl {
			bottom: -20em;
			left: -20em;
		}

		.shadow--br {
			bottom: -20em;
			right: -20em;
		}

		&:before{
			width: calc(100% - 10em);
			height: calc(100% - 10em);
			position: absolute;
			top: 5em;
			content: '';
			left: 5em;
			border-radius: 61em;
			background: black;
			z-index: 1;
		}

		.inner-shadow{
			width: calc(100% - 20em);
			height: calc(100% - 20em);
			position: absolute;
			top: 10em;
			overflow: hidden;
			left: 10em;
			border-radius: 56em;
			box-shadow: inset 0 0 15em 0 rgba(white, 0.66);
			z-index: 1;

			&:before{
				box-shadow:inset 0 0 20em 0 #FFFFFF;
				width: 100%;
				height: 116%;
				position: absolute;
				top: -8%;
				content: '';
				left: 0;
				border-radius: 200em / 112em;
				z-index: 2;
			}
		}

		.screen {
			border-radius: 40em;
			box-shadow: none;
		}

		.top-bar, .bottom-bar {
			width: 100%;
			position: absolute;
			height: 8em;
			background: rgba(black, 0.1);
			left: 0;
		}

		.top-bar {
			top: 80em;
		}

		.bottom-bar {
			bottom: 80em;
		}

		.volume, .volume:before, .volume:after, .sleep {
			width: 3em;
			background: #b5b5b5;
			position: absolute;
		}

		.volume {
			left: -3em;
			top: 116em;
			height: 32em;

			&:before {
				height: 62em;
				top: 62em;
				content: '';
				left: 0;
			}

			&:after {
				height: 62em;
				top: 140em;
				content: '';
				left: 0;
			}
		}

		.sleep {
			height: 96em;
			top: 200em;
			right: -3em;
		}

		.camera {
			width: 6em;
			height: 6em;
			top: 9em;
			border-radius: 100%;
			position: absolute;
			left: 154em;
			background: #0d4d71;
		}

		.speaker {
			height: 6em;
			width: 60em;
			left: 50%;
			position: absolute;
			top: 9em;
			margin-left: -30em;
			background: #171818;
			border-radius: 6em;
		}

		.notch {
			position: absolute;
			width: 210em;
			height: 30em;
			top: 26em;
			left: 108em;
			z-index: 4;
			background: black;
			border-bottom-left-radius: 24em;
		    border-bottom-right-radius: 24em;

		    &:before, &:after {
				content: '';
				height: 8em;
				position: absolute;
				top: 0;
				width: 8em;
		    }

			&:after {
				background: radial-gradient(circle at bottom left, transparent 0, transparent 70%, black 70%, black 100%);
				left: -8em;
			}

			&:before {
				background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
				right: -8em;
			}
		}

		&.landscape {
			height: 375em;
			width: 812em;

			.top-bar, .bottom-bar {
				width: 8em;
				height: 100%;
				top: 0;
			}

			.top-bar {
				left: 80em;
			}

			.bottom-bar {
				right: 80em;
				bottom: auto;
				left: auto;
			}

			.volume, .volume:before, .volume:after, .sleep {
				height: 3em;
			}

			.inner-shadow:before {
				height: 100%;
				width: 116%;
				left: -8%;
				top: 0;
				border-radius: 112em / 200em;
			}

			.volume {
				bottom: -3em;
				top: auto;
				left: 116em;
				width: 32em;

				&:before {
					width: 62em;
					left: 62em;
					top: 0;
				}

				&:after {
					width: 62em;
					left: 140em;
					top: 0;
				}
			}

			.sleep {
				width: 96em;
				left: 200em;
				top: -3em;
				right: auto;
			}

			.camera {
				left: 9em;
				bottom: 154em;
				top: auto;
			}

			.speaker {
				width: 6em;
				height: 60em;
				left: 9em;
				top: 50%;
				margin-top: -30em;
				margin-left: 0;
			}

			.notch {
				height: 210em;
				width: 30em;
				left: 26em;
				bottom: 108em;
				top: auto;
				border-top-right-radius: 24em;
			    border-bottom-right-radius: 24em;
			    border-bottom-left-radius: 0;

				&:before, &:after {
					left: 0;
				}

				&:after {
					background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
					bottom: -8em;
					top: auto;
				}

				&:before {
					background: radial-gradient(circle at top right, transparent 0, transparent 70%, black 70%, black 100%);
					top: -8em;
				}
			}	
		}
	}

	&.note8 {
		width: 400em;
		height: 822em;
		background: black;
		border-radius: 34em;
		padding: 45em 10em;

		.overflow {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 34em;
			overflow: hidden;
		}

		.speaker {
			height: 8em;
			width: 56em;
			left: 50%;
			position: absolute;
			top: 25em;
			margin-left: -28em;
			background: #171818;
			z-index: 1;
			border-radius: 8em;
		}

		.camera {
			height: 18em;
			width: 18em;
			left: 86em;
			position: absolute;
			top: 18em;
			background: #212b36;
			z-index: 1;
			border-radius: 100%;

			&:before{
				content: '';
				height: 8em;
				width: 8em;
				left: -22em;
				position: absolute;
				top: 5em;
				background: #212b36;
				z-index: 1;
				border-radius: 100%;
			}
		}

		.sensors {
			height: 10em;
			width: 10em;
			left: 120em;
			position: absolute;
			top: 22em;
			background: #1d233b;
			z-index: 1;
			border-radius: 100%;

			&:before{
				content: '';
				height: 10em;
				width: 10em;
				left: 18em;
				position: absolute;
				top: 0;
				background: #1d233b;
				z-index: 1;
				border-radius: 100%;
			}
		}

		.more-sensors {
			height: 16em;
			width: 16em;
			left: 285em;
			position: absolute;
			top: 18em;
			background: #33244a;
			box-shadow: 0 0 0 2em rgba(white, 0.1);
			z-index: 1;
			border-radius: 100%;

			&:before{
				content: '';
				height: 11em;
				width: 11em;
				left: 40em;
				position: absolute;
				top: 4em;
				background: #214a61;
				z-index: 1;
				border-radius: 100%;
			}
		}

		.sleep {
			width: 2em;
			height: 56em;
			background: black;
			position: absolute;
			top: 288em;
			right: -2em;
		}

		.volume {
			width: 2em;
			height: 120em;
			background: black;
			position: absolute;
			top: 168em;
			left: -2em;

			&:before {
				content: '';
				top: 168em;
				width: 2em;
				position: absolute;
				left: 0;
				background: black;
				height: 56em;
			}
		}

		.inner {
			width: 100%;
			height: calc(100% - 8em);
			position: absolute;
			top: 2em;
			content: '';
			left: 0em;
			border-radius: 34em;
			border-top: 2em solid #9fa0a2;
			border-bottom: 2em solid #9fa0a2;
			background: black;
			z-index: 1;
			box-shadow: inset 0 0 6em 0 rgba(white, 0.5);
		}

		.shadow{
			box-shadow:
				inset 0 0 60em 0 white,
				inset 0 0 30em 0 rgba(white, 0.5),
				0 0 20em 0 white,
				0 0 20em 0 rgba(white, 0.5);
			height: 101%;
			position: absolute;
			top: -0.5%;
			content: '';
			width: calc(100% - 20em);
			left: 10em;
			border-radius: 38em;
			z-index: 5;
			pointer-events: none;
		}

		.screen {
			border-radius: 14em;
			box-shadow: none;
		}

		&.landscape {
			height: 400em;
			width: 822em;
			padding: 10em 45em;

			.speaker {
				height: 56em;
				width: 8em;
				top: 50%;
				margin-top: -28em;
				margin-left: 0;
				right: 25em;
				left: auto;
			}

			.camera {
				top: 86em;
				right: 18em;
				left: auto;

				&:before {
					top: -22em;
					left: 5em;
				}
			}

			.sensors {
				top: 120em;
				right: 22em;
				left: auto;

				&:before {
					top: 18em;
					left: 0;
				}
			}

			.more-sensors {
				top: 285em;
				right: 18em;
				left: auto;

				&:before {
					top: 40em;
					left: 4em;
				}
			}

			.sleep {
				bottom: -2em;
				top: auto;
				right: 288em;
				width: 56em;
				height: 2em;
			}

			.volume {
				width: 120em;
				height: 2em;
				top: -2em;
				right: 168em;
				left: auto;

				&:before {
					right: 168em;
					left: auto;
					top: 0;
					width: 56em;
					height: 2em;
				}
			}

			.inner {
				height: 100%;
				width: calc(100% - 8em);
				left: 2em;
				top: 0;
				border-top: 0;
				border-bottom: 0;
				border-left: 2em solid #9fa0a2;
				border-right: 2em solid #9fa0a2;
			}

			.shadow {
				width: 101%;
				height: calc(100% - 20em);
				left: -0.5%;
				top: 10em;
			}
		}
	}
}
